 h1 { 
   text-align: center; !important;
   font-family: Georgia, serif; !important;
  font-size: 100px; !important;
  color: saddlebrown; !important;
}

 .main-header {
   
background-color: #4CAF50; !important;

padding: 50px; !important;

text-align: center; !important;

}

.index-header { 
   background-color: #FFFFFF; !important
   padding: 20px; !important
} 


img {
  float: right; !important;
}

.row {width:800px; !important;
  margin:auto; !important;
     }

.col-md-8 {width:800px; !important;
  margin:auto; !important;
          }


header h3 {
margin: 0; !important;
text-shadowing: 5px 5px 10px saddlebrown !important;
}

header {

background-color: #4CAF50; !important;

color: white; !important;

padding: 50px; !important;

text-align: center; !important;
   

}


header h1 {

margin: 0; white: !important;

}


nav a {

color: white; !important;

text-decoration: none; !important;

margin: 0 10px; !important;

}

#home.nav{ 
 color: black; !important
} 

nav a:hover {

text-decoration: underline; !important;

}
.main {

padding: 20px; !important;

max-width: 1000px; !important;

margin: 0 auto; !important;
 
background-color: #D2B48C; !important;

}

#welcome {
  .image-container {
  background-image: url("R.jpg"); /* The image used - important! */
  background-size: cover;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 1000px; /* Some height */
}

.text {
  background-color: white;
  color: black;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 40px;
  width: 80%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
 
}

 


main img {

max-width: 100%; !important;

height: auto; !important;

display: block; !important;

margin: 20px 0; !important;

}
body {

font-family: Arial, sans-serif; !important;

color: #333; !important;

background-color: #F8F8FF; !important;

margin: 0; !important;

padding: 0; !important;

line-height: 1.6; !important;

}

div.gallery {
  margin: 5px; !important;
  border: 1px solid #ccc; !important;
  float: left; !important;
  width: 180px; !important;
}

div.gallery:hover {
  border: 1px solid #777; !important;
}

div.gallery img {
  width: 100%; !important;
  height: auto; !important;
} 

div.desc {
  padding: 15px; !important;
  text-align: center; !important;
}

#contained-text {
    max-width: 600px; !important;/* Limits the width of the paragraph */ 
    margin-left: auto; !important;
    margin-right: auto; !important;
    text-align: left; !important;/* Ensures the text aligns to the left */
    padding: 10px; !important;/* Adds some spacing inside */
}
